body {
    height:100%;
    width: 100%;
    margin:0;
    position: inline;
    font-family: "futura-pt-bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    font-size: 12pt;
    color: #0f0f0f;
    background-color: #fffffa;

}

p {
    line-height: 1.6;
    margin-bottom: 24pt;
}

a { text-decoration: none;
    color: #0f0f0f;
    font-weight: 900;
    cursor:pointer;
}


@font-face {
    font-family: 'Univers LT Std 65';
    font-style: normal;
    font-weight: normal;
    src: local('Univers LT Std 65'), url('UniversLTStd.woff') format('woff');
    }

/* DAGGER */ 

.daggergrid {
    display:grid;
    grid-template-columns:auto auto;
}

.dagger {
    position: fixed;
    right: 30px;
    top:0px;  
    z-index: 999;
}

.links {
    font-family:'Univers LT Std 65';
    font-size: 12pt; 
    text-align: right;
    padding-top: 36px;
    padding-right: 15px;
}

.links a{
    text-decoration: none;
    color: #0f0f0f;
    line-height: 2.25;
    
}


.doubledagger {
    font-size: 100px;
    font-weight: 700;
    cursor:pointer;
    color: #0f0f0f;
}


/*TOPBAN*/

.topban {
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
}

.ban {
    margin: 15px;
    display: inline;
    position: relative;
    font-size: 12pt;
    font-weight: 600;
    text-align: left;
    color: #fffffa;
}

.bancase {
    display: inline;
    position: relative;
    background-color:  black;
    padding:3px 10px;
    margin-left: 57px;}

/*CONTENT*/

.content {
    display: flex;
    justify-content: center;
    height: auto;
}


.contentgrid {
    display: grid;
    grid-template-columns:48vw 48vw;
    padding: 20px;

}

.col {
    margin: 15px;
    padding: 15px;
    
}

.colphot {
    margin: 15px;
    padding: 15px;
}

.photogrid {
    display: grid;
    grid-template-columns: 24vw 24vw;
    padding: 20px;
}

.block {
    display:flex;
    position: relative;
    width: 100%;
    height: 14vh;
}

.block2 {
    display:flex;
    position: relative;
    width: 100%;
    height: 7vh;
}



.img {
    position: relative; 
    background-color:#fbfaee;
    margin-top: 2vh;

}


.text {
    font-family: 'Univers LT Std 65';
    font-style: normal;
    font-weight: normal;
    font-size: 11pt;
}



/* MEDIA */



@media (max-width:1000px){

    .photogrid {
       display: block;    
    }
       
    .block{
        display: none;    }

    .block2{
        display: none;
    }

    .colphot {
        margin: 0;
        padding: 0;

    }
}




@media (max-width:700px){
    .contentgrid {
        display: block;
    }
  
   
}
